<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='webix/webix.css') }} type="text/css" charset="utf-8">
        <link rel="stylesheet" href={{ url_for('static', filename='miro/miro.css') }} type="text/css" charset="utf-8">
        <script src={{ url_for('static', filename='webix/webix.js') }} type="text/javascript" charset="utf-8"></script>
        <script src={{ url_for('static', filename='miro/miro.js') }} type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <script type="text/javascript" charset="utf-8">
        
        webix.ui({
                type:"line",
                rows: 
                    [
                    { template:"Nav Bar", view:"toolbar", id:"navbar_id", height: 70, 
                      elements: 
                            [
                            { view: "label", label: "RPKI MIRO", width: 100},
                            { view:"button", type:"htmlbutton", css:"navbar_button", width: 70, 
                              label: '<span class="text">Browser</span>', 
                              click: function(){
                                $$("browser_stats_layout").showBatch("object_browser");
                              }
                            },
                            { view:"button", width: 70, type:"htmlbutton", css:"navbar_button",
                              label: '<span class="text">Stats</span>', 
                              click: function() {
                                $$("browser_stats_layout").showBatch("stats");
                              }}
                            ],
                    },
                    { view:"layout", id:"browser_stats_layout", visibleBatch: "object_browser",
                      rows: [
                        { view:"layout", id:"browser_layout", batch:"object_browser", 
                          rows: [
                            { template:"Tool Bar", view:"toolbar", id:"toolbar_id", batch:"object_browser", css:"browser_toolbar",
                              elements: 
                                    [
                                    { view:"button", value:"Filter", width: 70, css:"browser_toolbar_button",
                                      click:function(){
                                        $$("filter_window").show();
                                      }},
                                    { view:"button", value:"Clear Filter", width: 90, css:"browser_toolbar_button"},
                                    { view:"richselect", id:"cert_tree_combo", width: 100, editable: false,  css:"browser_toolbar_richselect",
                                      options: {
                                        css: "browser_toolbar_richselect_list",
                                        body: {
                                          template: "#tree_name#",
                                          data: []
                                        }
                                      },
                                      on: 
                                      {
                                        "onAfterRender": function() {
                                          webix.ajax("/api/objects/ct/all",{
                                            error:function(text, data, XmlHttpRequest){
                                              alert(text);
                                            },
                                            success:function(text, data, XmlHttpRequest){
                                              var trees = data.json();
                                              var combo = $$("cert_tree_combo");
                                              var new_options = [];
                                              trees.forEach(function(entry){
                                                entry['id'] = entry['tree_name']
                                                new_options.push(entry);
                                              });
                                              combo.getList().parse(new_options);
                                              combo.setValue(new_options[0].id);
                                            }
                                          }); 
                                        },
                                        "onChange": function(new_v, old_v) {
                                          var combo = $$("cert_tree_combo");
                                          var tree_item = combo.getList().getItem(new_v);
                                          $$("tree_viewer").clearAll();
                                          $$("tree_viewer").define("url", "/api/objects/meta/rc/" + tree_item.trust_anchor_name);
                                          $$("tree_viewer").refresh();

                                        }
                                      } 
                                    }

                                    ] 
                            },
                            { cols: [
                                    { view:"layout", id:"tree_viewer_layout", visibleBatch: "unfiltered_tree_viewer", batch: "object_browser",
                                      rows: 
                                      [
                                        { view:"treetable", id:"tree_viewer", select: true, batch:"unfiltered_tree_viewer", header:false, css:"browser_tree_viewer",
                                          columns:[{id:'col',template:"{common.treetable()} #value#", fillspace:true} ],
                                          width:300,
                                          on: {
                                              onBeforeOpen: function(id) {
                                                var item = this.getItem(id);
                                                if (item.$count === -1)
                                                    this.loadBranch(id, null, "/api/objects/meta/rc/children/" + id);
                                                },
                                              onAfterSelect: function(id) {
                                                var item = this.getItem(id);
                                                var stub_object = {"id": item.id, "filename": item.value};
                                                var type = stub_object['filename'].substr(stub_object['filename'].length - 3);
                                                stub_object['type'] = type;
                                                if (type == "cer") {
                                                  stub_object['mft_name'] = item.mft_name;
                                                  stub_object['crl_name'] = item.crl_name;
                                                }
                                                loadSelectedObjects(stub_object);
                                                }
                                              }
                                        },
                                        { view:"treetable", id:"f_tree_viewer", select: true, batch:"filtered_tree_viewer", css:"browser_tree_viewer",
                                          columns:[{id:'col', header:false, template:"{common.treetable()} #value#", fillspace:true} ],
                                          width:300, 
                                          on: {
                                            onAfterSelect: function(id) {
                                              var item = this.getItem(id);
                                              var stub_object = {"id": item.id, "filename": item.value};
                                              var type = stub_object['filename'].substr(stub_object['filename'].length - 3);
                                              stub_object['type'] = type;
                                              if (type == "cer") {
                                                stub_object['mft_name'] = item.mft_name;
                                                stub_object['crl_name'] = item.crl_name;
                                              }
                                              loadSelectedObjects(stub_object);
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    { view:"resizer" },
                                    { view:"layout", id:"object_properties_layout", visibleBatch: "idle_batch",
                                      rows: 
                                        [
                                        { view:"tabview", batch:"cer_batch", css:"browser_object_tabview", tabbar:{ optionWidth:180},
                                          cells: 
                                            [
                                            { header: "Certificate", 
                                              body:
                                                { view:"layout", id:"certificate_layout", batch:"cer_batch", 
                                                  cols: [

                                                    { view:"layout", 
                                                      rows: [
                                                        { view: "template", template: "General Information", type: "header", css:"browser_object_properties_header"},
                                                        { view:"property", id:"cer_properties", batch:"cer_batch", nameWidth: 200, editable: false,
                                                          elements:[
                                                                   { label:"Filename", type:"text", id:"certificate_name"},
                                                                   { label:"Subject", type:"text", id:"subject"},
                                                                   { label:"Issuer", type:"text", id:"issuer"},
                                                                   { label:"Serial Nr.", type:"int", id:"serial_nr"},
                                                                   { label:"Subject Key Identifier", type:"text", id:"subject_key_identifier"},
                                                                   { label:"Authority Key Identifier", type:"text", id:"authority_key_identifier"},
                                                                   { label:"Public Key", type:"text", id:"public_key"},
                                                                   { label:"EE Certificate", type:"boolean", id:"isee"},
                                                                   { label:"CA Certificate", type:"boolean", id:"isca"},
                                                                   { label:"Root Certificate", type:"boolean", id:"isroot"},
                                                                   // { label:"Validation Status", type:"label"},
                                                                   { label:"Validity Period Start", type:"text", id:"validity_period_start"},
                                                                   { label:"Validity Period End", type:"text", id:"validity_period_end"},
                                                                   { label:"Validation Status", type:"text", id:"validation_status"},
                                                                   { label:"Validation Errors", type:"text", id:"validation_errors"},
                                                                   { label:"Validation Warnings", type:"text", id:"validation_warnings"},
                                                                   ]
                                                          }
                                                      ]
                                                    },
                                                    { view:"layout",
                                                      rows: [
                                                        { view: "template", template: "Resources", type: "header", css:"browser_object_properties_header" },
                                                        { view:"list", template: "#resource#", batch:"cer_batch", id:"cer_resource_list"}
                                                      ]
                                                    }
                                                  ]
                                                }
                                            },
                                            { header: "Manifest", 
                                              body: 
                                                { view:"layout", id:"manifest_layout", batch:"cer_batch",
                                                  cols: [
                                                    { view: "layout",
                                                      rows: [
                                                        { view: "template", template: "General Information", type: "header", css:"browser_object_properties_header"},
                                                        { view:"property", id:"mft_properties", batch:"cer_batch", nameWidth: 200, editable: false,
                                                          elements:[
                                                                   { label:"Filename", type:"text", id:"manifest_name"},
                                                                   { label:"Validity Period Start", type:"text", id:"validity_period_start"},
                                                                   { label:"Validity Period End", type:"text", id:"validity_period_end"},
                                                                   { label:"Validation Status", type:"text", id:"validation_status"},
                                                                   { label:"Validation Errors", type:"text", id:"validation_errors"},
                                                                   { label:"Validation Warnings", type:"text", id:"validation_warnings"},
                                                                   ]
                                                        }
                                                      ]
                                                    },
                                                    { view:"layout",
                                                      rows: [
                                                        { view: "template", template: "Issued Files", type: "header", css:"browser_object_properties_header"},
                                                        { view:"datatable", batch:"cer_batch", id:"manifest_table",
                                                          columns:[
                                                            {id:"filename", header:"Filename", width:150},
                                                            {id:"hash", header:"Hash", width:250}
                                                          ]
                                                        }
                                                      ]
                                                    }
                                                  ]
                                                }
                                            },
                                            { header: "CRL", 
                                              body: 
                                                { view:"layout", id:"crl_layout", batch: "cer_batch",
                                                  cols:[
                                                    { view:"layout", 
                                                      rows: [
                                                        { view: "template", template: "General Information", type: "header", css:"browser_object_properties_header"},
                                                        { view:"property", id:"crl_properties", batch:"cer_batch", nameWidth: 200, editable: false,
                                                          elements:[
                                                                   { label:"Filename", type:"text", id:"crl_name"},
                                                                   { label:"Validity Period Start", type:"text", id:"validity_period_start"},
                                                                   { label:"Validity Period End", type:"text", id:"validity_period_end"},
                                                                   { label:"Validation Status", type:"text", id:"validation_status"},
                                                                   { label:"Validation Errors", type:"text", id:"validation_errors"},
                                                                   { label:"Validation Warnings", type:"text", id:"validation_warnings"},
                                                                   ]
                                                        },
                                                      ]
                                                    },
                                                    { view:"layout",
                                                      rows: [
                                                        { view: "template", template: "Revoked Files", type: "header", css:"browser_object_properties_header"},
                                                        { view:"datatable", batch:"cer_batch", id:"crl_table",
                                                          columns:[
                                                            {id:"serial_nr", header:"Serial Number", width:100},
                                                            {id:"revoke_time", header:"Revocation Time", width: 200}
                                                          ]
                                                        }
                                                      ]
                                                    }
                                                  ]
                                                }
                                            }
                                            ]
                                        },
                                        { view:"tabview", batch:"roa_batch",
                                          cells: [
                                            {header:"ROA", 
                                             body: 
                                              { view:"layout", id:"roa_layout", batch: "roa_batch",
                                                cols: [
                                                  { view:"property", id:"roa_properties", batch:"roa_batch", nameWidth: 200, editable: false,
                                                    elements:[
                                                             { label:"Filename", type:"text", id:"roa_name"},
                                                             { label:"ASN", type:"int", id:"asn"},
                                                             { label:"Signing Time", type:"text", id:"signing_time"},
                                                             { label:"Validity Period Start", type:"text", id:"validity_period_start"},
                                                             { label:"Validity Period End", type:"text", id:"validity_period_end"},
                                                               { label:"Validation Status", type:"label"},
                                                             { label:"Validation Status", type:"text", id:"validation_status"},
                                                             { label:"Validation Errors", type:"text", id:"validation_errors"},
                                                             { label:"Validation Warnings", type:"text", id:"validation_warnings"}
                                                             ]
                                                  },
                                                  { view:"datatable", batch:"roa_batch", id:"roa_table",
                                                    columns:[
                                                      {id:"prefix", header:"Prefix", width:200},
                                                      {id:"max_length", header:"Max. Length", width:50}
                                                    ]
                                                  }
                                                ]
                                              }
                                            },
                                            { header: "EE Cert", 
                                              body:
                                                { view:"layout", id:"ee_certificate_layout", batch:"roa_batch", 
                                                  cols: [
                                                    { view:"property", id:"ee_cer_properties", batch:"roa_batch", nameWidth: 200, editable: false,
                                                      elements:[
                                                               { label:"Filename", type:"text", id:"certificate_name"},
                                                               { label:"Subject", type:"text", id:"subject"},
                                                               { label:"Issuer", type:"text", id:"issuer"},
                                                               { label:"Serial Nr.", type:"int", id:"serial_nr"},
                                                               { label:"Subject Key Identifier", type:"text", id:"subject_key_identifier"},
                                                               { label:"Authority Key Identifier", type:"text", id:"authority_key_identifier"},
                                                               { label:"Public Key", type:"text", id:"public_key"},
                                                               { label:"EE Certificate", type:"boolean", id:"isee"},
                                                               { label:"CA Certificate", type:"boolean", id:"isca"},
                                                               { label:"Root Certificate", type:"boolean", id:"isroot"},
                                                               { label:"Validation Status", type:"label"},
                                                               { label:"Validity Period Start", type:"text", id:"validity_period_start"},
                                                               { label:"Validity Period End", type:"text", id:"validity_period_end"},
                                                               { label:"Validation Status", type:"text", id:"validation_status"},
                                                               { label:"Validation Errors", type:"text", id:"validation_errors"},
                                                               { label:"Validation Warnings", type:"text", id:"validation_warnings"},
                                                               ]
                                                      },
                                                      { view:"list", template: "#resource#", batch:"roa_batch", id:"ee_cer_resource_list"}
                                                  ]
                                                }
                                            }
                                          ]
                                        },
                                        { view:"property", id:"idle_properties", batch:"idle_batch",
                                          elements:[]    
                                        }
                                        ]
                                    }
                              ]
                            } 
                          ]
                        },
                        { view:"layout", id:"stats_tabview", batch:"stats",
                          cols: [
                                { view:"treetable", id:"stats_tree_viewer", select: true, data:[], css:"browser_tree_viewer", header:false, 
                                    columns:[{id:'stats_col', header:false, template:"{common.treetable()} #certificate_tree#", fillspace:true} ],
                                    width:300,
                                    ready: function(){
                                      webix.ajax("/api/stats/all", {
                                        error:function(text, data, XmlHttpRequest) {
                                          console.log("WAT");
                                        },
                                        success:function(text, data, XmlHttpRequest) {
                                          var stats = data.json();
                                          var global_rpki;
                                          stats.forEach(function(entry) {
                                            entry['id'] = entry['certificate_tree'];
                                            entry['value'] = entry['certificate_tree'];
                                            if (entry.certificate_tree == "All")
                                              global_rpki = entry;
                                          });
                                          global_rpki['data'] = [];
                                          stats.forEach(function(entry){
                                            if (entry.certificate_tree != "All")
                                              global_rpki['data'].push(entry);
                                          });
                                          $$("stats_tree_viewer").parse([global_rpki]);
                                        }
                                      })
                                    },
                                    on: {
                                          onAfterSelect: function(id) {
                                            var item = this.getItem(id);
                                            ["total", "valid", "invalid"].forEach(function(entry){
                                              var chart = $$("stats_pie_chart_"+entry);
                                              chart.clearAll();
                                              chart.add({id: entry + "total_cer", objects: item[entry + '_cer_objects'], label: "Resource Certificate"});
                                              chart.add({id: entry + "total_mft", objects: item[entry + '_mft_objects'], label: "Manifest"});
                                              chart.add({id: entry + "total_crl", objects: item[entry + '_crl_objects'], label: "CRL"});
                                              chart.add({id: entry + "total_roa", objects: item[entry + '_roa_objects'], label: "ROA"});
                                            });
                                            }
                                        }
                                },
                                { view:"resizer" },
                                { view:"tabview", id: "stats_tabview", css:"browser_object_tabview",
                                  cells: [
                                      { header: "Total",
                                        body: { view:"chart", type:"pie", id:"stats_pie_chart_total", data: [], value: "#objects#", label: "#label#" }
                                      },
                                      { header: "Valid",
                                        body: { view:"chart", type:"pie", id:"stats_pie_chart_valid", data: [], value: "#objects#", label: "#label#" }
                                      },
                                      { header: "Invalid",
                                        body: { view:"chart", type:"pie", id:"stats_pie_chart_invalid", data: [], value: "#objects#", label: "#label#" }
                                      },
                                  ]
                                }
                                ]
                        }
                      ]
                    }
                    ]
        });
        var window = webix.ui({
                      view:"window", id:"filter_window", move:true, hidden: true,
                      head: {view:"button", label:"Close", width:70, click:("$$('filter_window').hide();")}, 
                      body: {
                        view: "form", 
                        elements: [
                          { "id": "filter_attribute_radio", view: "radio", label: "Attribute", height: "100", width: "400",
                            options: [
                              {"id" : "filename", "value": "Filename"},
                              {"id" : "subject", "value": "Subject"},
                              {"id" : "issuer", "value": "Issuer"},
                              {"id" : "serial_nr", "value": "Serial Nr."},
                              {"id" : "resource", "value": "Resource"}
                            ]
                          },
                          { "id": "filter_value_text", view: "text", label: "Search for:", name: "search_for" },
                          { "id": "filter_filetype_radio", view: "radio", label: "File Type", value: "all", height: "50", width: "400",
                            options: [
                              {"id": "all", "value": "All"},
                              {"id": "cer", "value": ".cer"},
                              {"id": "roa", "value": ".roa"}
                            ]
                          },
                          { view: "checkbox", id:'filter_check_valid', label: "Valid", value:1},
                          { view: "checkbox", id:'filter_check_warnings', label: "Warnings", value:1},
                          { view: "checkbox", id:'filter_check_errors', label: "Errors", value:1 },
                          { view: "button", value: "Apply Filter", click:function(){
                            var filter_attribute = $$("filter_attribute_radio").getValue();
                            filter_attribute = filter_attribute == null ? "None" : filter_attribute;
                            var filter_value = $$("filter_value_text").getValue();
                            filter_value = filter_attribute == null || filter_value == '' ? "None" : filter_value;
                            var file_type = $$("filter_filetype_radio").getValue();
                            var tree_name = "RIPE";

                            var payload = {"filter_attribute": filter_attribute, "filter_value": filter_value, "file_type" : file_type, "tree_name": tree_name,
                                           "include_valids": $$('filter_check_valid').getValue(), "include_warnings": $$('filter_check_warnings').getValue(),
                                           "include_errors": $$('filter_check_errors').getValue()}

                            webix.ajax().headers({"Content-type":"application/json"}).post("/api/filter/", JSON.stringify(payload)).then( 
                              function(result){
                                new_data = result.json();
                                console.log(new_data);
                                var tree = $$("f_tree_viewer");
                                tree.clearAll();
                                tree.parse(new_data);
                                $$("tree_viewer_layout").showBatch("filtered_tree_viewer");
                                
                              });


                          }},
                          { view: "button", value: "OK", click:function(){

                          }},
                          { view: "button", value: "Clear", 
                            click:function(){
                              $$("tree_viewer_layout").showBatch("unfiltered_tree_viewer");
                          }}
                        ]
                      }
              });
        </script>
    </body> 
</html>
